.required {
  color: red;
}

.productInfoContainer {
  display: flex;
  justify-content: space-between;
}

.productInfoFieldContainer {
  width: 30%;
}

.filesFieldContainer {
  padding: 0 0 20px 0;
}

.field {
  width: 100%;
  padding: 10px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

.formButtonsContainer {
  display: flex;
  justify-content: space-between;
}

.formButton {
  width: 49%;
  height: 30px;
}

#descriptionField {
  height: 300px;
}





